.about {
    display: flex;
    flex-direction: column;
}
.sub-header {
    text-align: center;
}
.headerP {
    height: 100%;
    margin-top: 0;
    font-size: 20px;
    background: rgb(200,215,212, 0.5);
    color: rgb(0,0,0,0.8);
    padding: 2%;
    font-weight: 600;  
    margin-bottom: 0;
    position: relative;
}
#span {
    font-size: 18px;
}
