* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  }
#cityName {
  font-weight: 800;
  font-size: 40px;
  margin-top: 25px;
}
.mainList {
  margin-left: 50px;
  margin-right: auto;
  width: 40%;
  padding: 1%;
  border: 1px solid lightgray;
  
}
