footer {
    border-top: 2px solid black;
    background: rgb(0,0,0,0.7);
    min-height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
   
}
#link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#link:hover {
    color: rgba(200,215,212,0.7);
    transition: .5s;
}
.cursive {
    font-family: 'Yellowtail', cursive;
}
.footerList {
    color: white;
    list-style: none;
    padding: 4%;
}
#checkout {
    font-size: 1.2em;
    font-weight: 600;
}