.header {
    margin-top:40px;
    background-image: linear-gradient(rgba(200,215,212,0.3),rgba(200,215,212,0.4), white), url('./images/world.jpg');
    min-height: 350px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 0;
}

.title {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 25px;
}
.title h1{
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    background-color: rgb(200,215,212, 0.75);
    color: black;
    color: rgb(0,0,0,0.75);
    padding-top: 40px;
    padding-bottom: 30px;
    width: 90%;
    text-align: center;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 11px 21px -8px rgba(0,0,0,.8);
    
  }
@media only screen and (min-width:420px){
    .title h1 {
        height: 100%;
        font-size: 70px;
    }
}
@media only screen and (min-width: 520px){
    .title h1 {
        font-size: 80px;
    }
}
@media only screen and (min-width:720px){
    .header {
        text-align: right;
        }
}
@media only screen and (min-width:900px){
    .title {
        font-size: 75px;
    }
}