#zillow-large-search-box-widget-container {
    overflow: hidden;
    background-color: rgb(200,215,212, 0.2);
    color: #555;
    line-height: 13px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: none;
}
#zillow-container {
    text-align: center;
}

#zillow-tnc-widget-footer-links {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: left;
    line-height: 12px;
    padding: 0;
}

#td {
    font-weight: bold;
    font-size: 12px;
    color: #555;
    text-align: left;
    margin: 0;
    padding: 0
}
iframe {
    border-radius: 20px;
    box-shadow: 0px 11px 21px -8px rgba(0,0,0,0.7);
}
#locationLink {
    color: #36b;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
}

#mortgage-rates {
    color: #36b;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
}
#powered-by {
    background: rgb(200,215,212, 0.2);
}
#refinance {
    color: #36b;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
}
.zeroMargin {
    margin: 0;
    padding: 0
}
#foreclosures {
    color: #36b;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
}

#calculator {
    color: #36b;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
}

#rates {
    color: #36b;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
}