.poiList {
    margin-bottom: 0;
}
.poiLinks {
    color: rgb(0,0,0,0.8);
    
}
.poiLinks:hover {
    color: rgb(0,0,0,0.3);
    text-decoration: none;
    transition: 1s;
    border-bottom: .5px solid rgb(0,0,0,0.1)
}