
.recharts-surface {
    width: 95%;
    overflow: auto;
}
.recharts-wrapper {
    display: flex;
    justify-content: center;
}
.chart-box {
    display: flex;
    flex-direction: column;
}
.custom-tooltip {
    background: white;
    border: 1px solid rgb(0,0,0,0.8);
    padding: 2%;
    border-radius: 5px;
    text-align: center;
}
.label-1 {
    margin-bottom: 2px;
}
.intro-1 {
    margin-bottom: 5px;
}
.results {
    display: flex;
    flex-direction: column;
}

.subheader-box {
    text-align: center;
    color: white;
    background: rgb(0,0,0,0.7);
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
#report-card-box {
    margin-top: 0;
}
.tooltip-text {
    margin-top: auto;
    margin-bottom: auto;
}
tspan {
    font-weight: 900;
}
.subheader {
    font-weight: 800;
    font-size: 40px;
}
#salary-header {
    align-self: center;
    margin-bottom: 0;
    margin-top: 25px;
    padding-bottom: 0;
}
.salaries {
    background: white;
}
.range-p {
    margin-left: 50px;
}
