
.listItem {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid rgb(0, 0, 0, 0.7);
    border-bottom: 1px solid rgb(0, 0, 0, 0.7);
}
#red {
    background-color: maroon;
    color: white;
    text-align: center;
}

#score {
    background-color: navy;
    color: white;
    text-align: center
}
#green {
    background-color: green;
    color: white;
    text-align: center;
}
.p-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scores-p {
    margin-bottom: 0;
    padding-bottom: 0;
}
#green, #red, #score {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 2px;
}


#name {
    font-weight: 600;
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
    color: rgb(0, 0, 0, 0.7);
    padding-bottom: 0;
    margin-bottom: 0;
}