
.listItem {
    border-bottom: 1px solid lightgray;
}
#green {
    color: green;
}
#red {
    color: red;
}
#score {
    color: blue;
}
#name {
    font-weight: 600;
}
p {
    letter-spacing: .5em;
    font-weight: 900;
    margin-top: 7px;
}